<h1 class="title">Company Registration Form</h1>
<form #companyForm="ngForm" (ngSubmit)="submitCompany(companyForm);">
  <div class="form-group"> 
    <label for="company-name">Name</label>
    <input 
          type="text" 
          id="company-name"
          class="form-control" 
          ngModel
          #nameField="ngModel"
          name="company-name"
          required
          minlength="3"
          (change)="fieldChange(nameField)">
    <label for="industry">Industry</label>
    <select 
          class="form-control" 
          id="company-industry"
          ngModel
          #industryField="ngModel"
          name="company-industry"
          required>
      <option *ngFor="let industry of industries" [value]="industry.id">{{ industry.name }}</option>  
      </select>
  </div>
  <div *ngIf="nameField.touched && nameField.errors">
    <div class="alert alert-danger" *ngIf="nameField.errors.required">
      The company name is required
    </div>
    <div class="alert alert-danger" *ngIf="nameField.errors.minlength">
      The company name should be at least {{ nameField.errors.minlength.requiredLength }} characters long
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="industryField.touched && !industryField.valid">
    The industry is required
  </div>
  <button class="btn btn-primary" [disabled]="!companyForm.valid">Submit</button>
</form>





